body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: rgb(238, 237, 237);
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }

  h1{
    font-size: 3em;
    margin-top: 40px;
    text-align: left;
    letter-spacing: -2px;
  }
 

input[type="text"] {
    padding: 5px;
    margin-top: 10px;
}
input[type="submit"] 
{
  padding: 10px 10px 10px 10px;
  margin: 30px 0px 0px 130px;
}